n8n/workflows/wa-availability-webhook.json
{
  "name": "sass-store: WA Availability Webhook",
  "active": true,
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "id": "trig-avail",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-availability",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "wa-availability-v1"
    },
    {
      "id": "resp-avail",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [400, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"ok\": true }"
      }
    },
    {
      "id": "call-avail",
      "name": "Get Availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 400],
      "parameters": {
        "method": "GET",
        "url": "={{ \"http://host.docker.internal:3003/api/tenants/\" + $json.body.tenantSlug + \"/bookings/availability?date=\" + ($json.body.intent?.entities?.dateIso || new Date().toISOString().slice(0,10)) + \"&days=\" + ($json.body.intent?.entities?.dateIso ? \"1\" : \"3\") }}",
        "options": {}
      }
    },
    {
      "id": "build-avail",
      "name": "Build WA Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 400],
      "parameters": {
        "jsCode": "const avail = $('Get Availability').item.json;\nconst phone = $('Webhook').item.json.body.message.phone;\nconst summary = avail.summary || 'No tenemos disponibilidad para esa fecha. ¿Te gustaría que revisara otro día?';\nreturn [{ json: { phone, summary } }];"
      }
    },
    {
      "id": "send-avail",
      "name": "Send WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 400],
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/214863935038316/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{WA_TOKEN}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.phone, type: 'text', text: { body: $json.summary } }) }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Respond OK", "type": "main", "index": 0 },
          { "node": "Get Availability", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Availability": {
      "main": [[{ "node": "Build WA Message", "type": "main", "index": 0 }]]
    },
    "Build WA Message": {
      "main": [[{ "node": "Send WA", "type": "main", "index": 0 }]]
    }
  }
}
